
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	   position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 999;

    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
	  position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 50px;
		padding:15px;

    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	.well{
	min-height:200px;
	}
	.search{
		display: block;
    margin: 10px 15px;
	float:left;
	}
	.sidenav .active{
		background:#000;
		color:#fff;
		width:100%;
		display:block;
	
	}
	.sidenav a{
		
		padding:10px;
	}
	.sidenav{
		padding:0px;
	}
	a , a:hover{
		text-decoration: none;
		color: #333;
	}
	span a:hover{
		color: #218BC3;
	}
	#dimg {
		height: 150px;
		max-width: 150px;
	}
	.film-nav{
		margin-top: 80px;padding: 19px;
		height: 50px;
		margin-bottom: 20px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
		box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
	}
