{% extends 'base.html.twig' %}

{% block title %}
    {{ film.name|default("Bos") }} |B ircomCase
{% endblock %}

{% block body %}

    <div class="container-fluid text-left"  >
        <div class="film-nav text-left"  style=" ">
           <b> {{ film.name|default("Film adı verilmemiş") }}</b> /
            {{ aktifsezon }}. Sezon
            (
            {{ film.getSezonlar()[aktifsezon-1].getPremiereDate()|date("d-m-Y")|default("03.09.1996") }}
            - {{ film.getSezonlar()[aktifsezon-1].getEndDate()|date("d-m-Y")|default("03.09.1996") }}
            ) /
            {{ aktifbolum }}.Bölüm - {{film.getSezonlar()[aktifsezon-1].getBolumler()[aktifbolum-1].getName()|default("İsimsiz Bölüm")}}
        </div>
    </div>

    <div class="container-fluid text-left"  style="padding-bottom: 80px;">

            <div style="background-color: #ddd;" class="col-sm-1 sidenav">
                {% for key, sezon in film.getSezonlar()|reverse(true)   %}

                <p><a href="{{ path("bolum",{"film_slug":film.getSlug(),"film_id":film.id,"sezon": key+1,"bolum":sezon.getBolumler()|length}) }}" class="{%  if sezon.getNumber()==aktifsezon %}active{% endif %}">{{ key+1}}. Sezon</a></p>

                {% endfor %}

            </div>

            <div class="col-sm-2 sidenav">
                {% for key, bolum in film.getSezonlar()[aktifsezon-1].getBolumler()|reverse(true)  %}

                    <p><a href="{{ path("bolum",{"film_slug":film.getSlug(),"film_id":film.id,"sezon": aktifsezon,"bolum":key+1}) }}" class="{%  if key+1==aktifbolum %}active{% endif %}">{{ key+1 }}. Bölüm </a></p>

                {% endfor %}


            </div>    <div class="col-sm-9 text-left">
                <div class="well">
                    <div class="col-sm-2">
                        <img height="150" src="{% if film.getResimler()|length >0 %} {{ film.getResimler().0.getOrginal() }} {% else %} {% endif %}">
                    </div>
                    <div class="col-sm">
                        <a href="{{ film.getSezonlar()[aktifsezon-1].getBolumler()[aktifbolum-1].getUrl() }}">
                        <h3>{{ film.name }}     <small> Bölüm adı :<b> {{film.getSezonlar()[aktifsezon-1].getBolumler()[aktifbolum-1].getName()|default("İsimsiz Bölüm")}}</b></small></h3>
<a/>
                        <small> (Kanal Adı :
                            <a href="">{{ film.getKanal().getName|default("Kanal yok") }}</a>
                            / <b> {{ film.getSezonlar()[aktifsezon-1].getBolumler()[aktifbolum-1].getAirDate|date("d-m-Y")|default("03.09.1996") }} :{{ film.getSezonlar()[aktifsezon-1].getBolumler()[aktifbolum-1].getAirTime()|default("00:00") }} </b>)</small>
                        <p>{{ film.getSummary()|default("")|raw }}</p>

                        <hr>

                        <p>Bölüm Link <a style="color:darkblue" href="{{ film.getSezonlar()[aktifsezon-1].getBolumler()[aktifbolum-1].getUrl() }}">
                            {{ film.getSezonlar()[aktifsezon-1].getBolumler()[aktifbolum-1].getUrl() }}
                        <a/></p>

                    </div>

                </div>
            </div>

        </div>
    </div>



{% endblock %}
