{% extends 'base.html.twig' %}

{% block title %}Hello AnasayfaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container" style="    margin-top: 80px;">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/temiz/BircomProje/src/Controller/AnasayfaController.php'|file_link(0) }}">src/Controller/AnasayfaController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/temiz/BircomProje/templates/anasayfa/index.html.twig'|file_link(0) }}">templates/anasayfa/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
