<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Bircome Case Çalışması! {% endblock %}</title>
    {% block meta %}
        <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/main.css") }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path("anasayfa") }}">Anasayfa</a></li>

                </li>
                <li>

                </li>
            </ul>

        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block footer %}
<footer class="container-fluid text-center">
    <p><a href="https://www.linkedin.com/in/gokhan-gunes/">Gökhan GÜNEŞ</a> / <a href="https://www.bircom.com/">Bircom</a> Case Çalışması</p>
</footer>
{%
 endblock%}
</body>
{% block javascripts %}
    <script src="{{ asset("js/main.js") }}"></script>
{% endblock %}
</html>
