{% extends 'base.html.twig' %}

{% block title %}
 Ana
{% endblock %}

{% block body %}


    <div class="container" style="    margin-top: 80px;padding-bottom: 80px;">


        <div class="col-sm-12 text-left">
            {% for film in filmList|default(null) %}
                {% set sonsezon = film.getSezonlar()|length %}
                {% set sonbolum = film.getSezonlar()[sonsezon-1].getBolumler()|length %}
                {% if sonbolum > 0 %}
            <div class="well">
                <div class="col-sm-2">

                    <img id="dimg" src="{% if film.getResimler()|length >0 %} {{ film.getResimler().0.getOrginal() }} {% else %} {% endif %}">
                </div>
                <div class="col-sm">
                    <h3>
                        <a href="{{ path("bolum",{"film_slug":film.getSlug()|default("film"),"film_id":film.id,"sezon":sonsezon,"bolum":sonbolum}) }}">
                            {{film.name}}
                        </a>
                        <small> (
                            <b>Son Bölüm Adı :</b>
                            <a href="{{ path("bolum",{"film_slug":film.getSlug()|default("film"),"film_id":film.id,"sezon":sonsezon,"bolum":sonbolum}) }}">
                                {{ film.getSezonlar()[sonsezon-1].getBolumler()[sonbolum-1].getName()|default("Son Bölüm İsimsiz") }}
                            </a>

                            <b> Kanal Adı :</b>
                           <a href="">{{ film.getKanal().getName|default("Kanal Yok") }}</a>

                            <b>Firm Başlama Tarihi :</b>
                            {{ film.premiered|date("d/m/Y")|default("03.09.1996") }})
                        </small>


                        </h3>
                    <p><a href="{{ path("bolum",{"film_slug":film.getSlug()|default("film"),"film_id":film.id,"sezon":sonsezon,"bolum":sonbolum}) }}">{{ film.getSummary()|raw }}</a></p>
                    <hr>

                    <p> {% for sezon in film.getSezonlar()|default(null) %}
                           <span>

                            <a href="{{ path("bolum",{"film_slug":film.getSlug(),"film_id":film.id,"sezon": loop.index,"bolum":1}) }}">
                                {{ loop.index }}. Sezon
                            </a>
                            </span>
                            {{ not loop.last ? '|' }}
                    {% endfor %}</p>

                </div>

            </div>
                {% endif %}
            {% endfor %}
        </div>


    </div>

{% endblock %}
